---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: grav
  labels:
    app: grav
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grav
  template:
    metadata:
      labels:
        app: grav
    spec:
      containers:
      - name: grav
        image: linuxserver/grav:version-{{ .Values.grav_version }}
        env:
        - name: PUID
          value: "1000"
        - name: PGID
          value: "1000"
        - name: TZ
          value: Europe/Berlin
        volumeMounts:
        - name: grav-user
          mountPath: /config/www/user
        - name: nginx-default-site
          mountPath: /config/nginx/site-confs/default
          subPath: default
        - name: grav-readiness-probe
          mountPath: /usr/local/bin
        ports:
        - containerPort: 80
        readinessProbe:
          exec: "/usr/local/bin/readiness_probe.sh"
        lifecycle:
          postStart:
            exec:
              command:
                - "/bin/sh"
                - "-c"
                - >
                  echo "#!/usr/bin/env sh" > /etc/cont-init.d/90-git-sync-init;
                  echo "cd /app/grav-admin" >> /etc/cont-init.d/90-git-sync-init;
                  echo "bin/plugin git-sync init" >> /etc/cont-init.d/90-git-sync-init;
                  chmod +x /etc/cont-init.d/90-git-sync-init;
                  echo "* * * * * chown -R abc:users /app/grav-admin/" >> /etc/crontabs/root;
                  echo "* * * * * chown -R abc:users /app/grav-admin/logs/grav.log" >> /etc/crontabs/root;
      initContainers:
      - name: git-sync
        image: k8s.gcr.io/git-sync:v3.1.3
        volumeMounts:
        - name: grav-user
          mountPath: /tmp/git
        env:
        - name: GIT_SYNC_REPO
          value: "{{ .Values.git.repository }}"
        - name: GIT_SYNC_USERNAME
          value: "{{ .Values.git.username }}"
        - name: GIT_SYNC_PASSWORD
          valueFrom:
            secretKeyRef:
              name: "{{ .Values.git.secret_ref }}"
              key: token
        - name: GIT_SYNC_ONE_TIME
          value: "true"
        - name: GIT_SYNC_BRANCH
          value: "{{ .Values.git.branch }}"
        - name: GIT_SYNC_DEST
          value: user
        - name: GIT_SYNC_ROOT
          value: /tmp/git
      - name: fix-perm
        image: busybox
        command: 
          - 'sh'
          - '-c'
          - >
            rm /tmp/git/user/.git && echo "Successfully removed /tmp/git/user/.git";
            cp -r /tmp/git/user/* /tmp/git/ && echo "Successfully removed /tmp/git/user/.git";
            rm -rf /tmp/git/user && echo "Successfully removed /tmp/git/user/.git"
        volumeMounts:
        - name: grav-user
          mountPath: /tmp/git
      volumes:
      - name: grav-user
        emptyDir: {}
      - name: nginx-default-site
        configMap:
          name: nginx-default-site
      - name: readiness-probe
        configMap:
          name: grav-readiness-probe
